<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer">
    <label for="question">Ask your coach anything:</label>
    <input type="text" name="question">
    <input type="submit" class="button" value="Ask!">
</form>
</div>
